<h1>Edit Vehicle Data</h1>

<p *ngIf="!customers"><em>Loading...</em></p>

<table class="table table-responsive table-bordered table-striped">
  <tr>
    <td><label>Vehicle Code</label></td>
    <td>&nbsp;</td>
    <td><input type="text" [(ngModel)]="vehicleCode" class="form-control" /></td>
    <td>&nbsp;</td>
    <td><label>Registration Number</label></td>
    <td>&nbsp;</td>
    <td><input type="text" [(ngModel)]="vehicleRegNum" class="form-control" /></td>
    <td><label>Customer</label></td>
    <td>&nbsp;</td>
    <td>
      <mat-form-field>
        <mat-select [(value)]="selectedCustomerValue" placeholder="Select Customer" disableOptionCentering>
          <mat-option *ngFor="let c of customers" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </tr>
</table>


<table class="table table-responsive table-bordered table-striped" style="text-align:center" *ngIf="customers">
  <tbody>
    <tr>
      <td><button type="button" (click)="editVehicle()" class="btn btn-primary">Save</button></td>
      <td><button type="button" (click)="backToVehicles()" class="btn btn-danger">Cancel</button></td>
    </tr>
  </tbody>
</table>


